<div class="parent-container bindPhone">
    <div id="fast-login-container">
        <div class="form-group">
            <span class="icon">
                <img src="../../assets/images/phone.png" alt="手机号" class="phone-icon">
            </span>
            <span class="text-container">
                <input type="text" placeholder="输入手机号码" class="input-text" name="phone-num" maxlength="11" ng-model="phone">
            </span>
            <div class="prompt-container" ng-bind="modalText"></div>
        </div>
        <div class="form-group">
            <span class="icon">
                <img src="../../assets/images/code.png" alt="验证码" class="code-icon">
            </span>
            <span class="text-container">
                <input type="text" placeholder="请输入验证码" class="input-text" ng-model="code" maxlength="4">
            </span>
            <div ng-class="{'get-code-btn':true,'unuseful':sending}" ng-click="getCode()" ng-bind="sendCodeText"></div>
        </div>
        <div id="confirm-login-btn" class="btn-common" ng-click="confirmLogin()">
            确&nbsp;&nbsp;定
        </div>
    </div>
</div>