<div class="parent-container bg-color-ececec">
    <div id="morningNight-container">
        <div class="myTailor-title">
            <span class="item" ng-click="changeTab(1)" ng-class="{'active': activeTab == 1}">节日</span>
            <span class="item" ng-click="changeTab(2)" ng-class="{'active': activeTab == 2}">客户问候</span>
        </div>
        <div class="myTailor-info-content" ng-if="activeTab == 1" ng-click="add()">
            <!-- <span class="case-item" ng-click="useMornTemplate(1)">
                <span class="case-type"><img src="../../assets/images/holiday/type1/img_1.png" alt=""></span>
                <span class="case-title">劳动节</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(2)">
                <span class="case-type"><img src="../../assets/images/holiday/type2/img_1.png" alt=""></span>
                <span class="case-title">母亲节</span>
            </span> -->
            <!-- <span class="case-item" ng-click="useMornTemplate(3)">
                <span class="case-type"><img src="../../assets/images/holiday/sample/type3/img_1.png" alt=""></span>
                <span class="case-title">父亲节</span>
            </span> -->
            <!-- <span class="case-item" ng-click="useMornTemplate(4)">
                <span class="case-type"><img src="../../assets/images/holiday/type4/img_1.png" alt=""></span>
                <span class="case-title">端午节</span>
            </span> -->
            <span class="case-item" ng-click="useMornTemplate(5)">
                <span class="case-type"><img src="../../assets/images/holiday/sample/type5/img_1.png" alt=""></span>
                <span class="case-title">七夕节</span>
            </span>
            <!-- <span class="case-item" ng-click="useMornTemplate(6)">
                <span class="case-type"><img src="../../assets/images/holiday/sample/type6/img_1.png" alt=""></span>
                <span class="case-title">儿童节</span>
            </span> -->
        </div>


        <div class="myTailor-info-content" ng-if="activeTab == 2">
            <!-- <span class="case-item" ng-click="useNightTemplate(1)">
                <span class="case-type"><img src="../../assets/images/greet/type1/img_1.png" alt=""></span>
                <span class="case-title">劳动节关怀</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(2)">
                <span class="case-type"><img src="../../assets/images/greet/type2/img_1.png" alt=""></span>
                <span class="case-title">母亲节关怀</span>
            </span> -->
            <!-- <span class="case-item" ng-click="useNightTemplate(3)">
                <span class="case-type"><img src="../../assets/images/greet/sample/type3/img_1.png" alt=""></span>
                <span class="case-title">父亲节关怀</span>
            </span> -->
            <!-- <span class="case-item" ng-click="useNightTemplate(4)">
                <span class="case-type"><img src="../../assets/images/greet/type4/img_1.png" alt=""></span>
                <span class="case-title">端午节关怀</span>
            </span> -->
        </div>
    </div>
</div>