<div class="parent-container bg-color-f2f6f8">
    <!-- <div class="title-bar">
        <span>我的</span>
    </div> -->
    <div id="home-container">
        <div class="user-info">
            <div class="head-img">
                <img ng-src="{{user.avatar}}" ng-click="personalCenter()">
            </div>
            <span class="account-text" ng-click="setIn()" ng-bind="user.name"></span>
            <div class="bottom-info">
                <div class="item" ng-click="goHomePage()">
                    <img src="../../assets/images/figure.png" class="common-icon">
                    <div>
                        主页形象
                    </div>
                </div>
                <div class="item" ng-click="vipCenter()">
                    <img src="../../assets/images/vip.png">
                    <div>
                        VIP会员
                    </div>
                </div>
            </div>
        </div>
        <div class="home-nav">
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_1.png" ng-click="morningNight()">
                </span>      
                <span class="text">早晚安</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_2.png">
                </span>      
                <span class="text">客照展示</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_3.png">
                </span>      
                <span class="text">通知海报</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_4.png">
                </span>      
                <span class="text">个人推广</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_5.png">
                </span>      
                <span class="text">节日问候</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_6.png">
                </span>      
                <span class="text">段子笑话</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_7.png">
                </span>      
                <span class="text">生活日常</span>
            </span>
        </div>
        <div class="prompt-fixed">
            <div class="prompt-div">
                <div class="prompt-content">
                    <div class="prompt-title">
                        <span>您的信息尚不完善，请完善信息</span>
                    </div>
                    <div class="prompt-bottom">
                        <span class="item prompt-false" ng-click="promptFalse()">取消</span>
                        <span class="item prompt-true" ng-click="promptTrue()">立即完善</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>