<div class="parent-container bg-color-f2f6f8">
    <!-- <div class="title-bar">
        <span>我的</span>
    </div> -->
    <div id="home-container">
        <div class="user-info">
            <img src="../../assets/images/header.png" class="head-img" ng-click="personalCenter()">
            <span class="account-text" ng-click="setIn()">咕~噜</span>
            <div class="bottom-info">
                <div class="item">
                    <img src="../../assets/images/figure.png" class="common-icon">
                    <div>
                        主页形象
                    </div>
                </div>
                <div class="item" ng-click="vipCenter()">
                    <img src="../../assets/images/vip.png">
                    <div>
                        VIP会员
                    </div>
                </div>
            </div>
        </div>
        <div class="home-nav">
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_1.png">
                </span>      
                <span class="text">早晚安</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_2.png">
                </span>      
                <span class="text">客照展示</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_3.png">
                </span>      
                <span class="text">通知海报</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_4.png">
                </span>      
                <span class="text">个人推广</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_5.png">
                </span>      
                <span class="text">节日问候</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_6.png">
                </span>      
                <span class="text">段子笑话</span>
            </span>
            <span class="item">
                <span>
                    <img src="../../assets/images/home_item_7.png">
                </span>      
                <span class="text">生活日常</span>
            </span>
        </div>
    </div>
</div>