<div class="parent-container bg-color-ececec">
    <div id="morningNight-container">
        <div class="myTailor-title">
            <span class="item" ng-click="changeTab(1)" ng-class="{'active': activeTab == 1}">早安</span>
            <span class="item" ng-click="changeTab(2)" ng-class="{'active': activeTab == 2}">晚安</span>
        </div>
        <div class="myTailor-info-content" ng-if="activeTab == 1" ng-click="add()">
            <span class="case-item" ng-click="useMornTemplate(1)">
                <span class="case-type"><img src="../../assets/images/morning/type1/img_1.png" alt=""></span>
                <span class="case-title">简约话语</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(2)">
                <span class="case-type"><img src="../../assets/images/morning/type2/img_1.png" alt=""></span>
                <span class="case-title">匠人精神</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(3)">
                <span class="case-type"><img src="../../assets/images/morning/type3/img_1.png" alt=""></span>
                <span class="case-title">励志早安</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(4)">
                <span class="case-type"><img src="../../assets/images/morning/type4/img_1.png" alt=""></span>
                <span class="case-title">清新文艺</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(5)">
                <span class="case-type"><img src="../../assets/images/morning/type5/img_1.png" alt=""></span>
                <span class="case-title">清新杂志</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(6)">
                <span class="case-type"><img src="../../assets/images/morning/type6/img_1.png" alt=""></span>
                <span class="case-title">时尚炫酷</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(7)">
                <span class="case-type"><img src="../../assets/images/morning/type7/img_1.png" alt=""></span>
                <span class="case-title">唯美人摄</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(8)">
                <span class="case-type"><img src="../../assets/images/morning/type8/img_1.png" alt=""></span>
                <span class="case-title">唯美文艺</span>
            </span>
        </div>


        <div class="myTailor-info-content" ng-if="activeTab == 2">
            <span class="case-item" ng-click="useNightTemplate(1)">
                <span class="case-type"><img src="../../assets/images/goodnight/type1/img_1.png" alt=""></span>
                <span class="case-title">简约话语</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(2)">
                <span class="case-type"><img src="../../assets/images/goodnight/type2/img_1.png" alt=""></span>
                <span class="case-title">匠人精神</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(3)">
                <span class="case-type"><img src="../../assets/images/goodnight/type3/img_1.png" alt=""></span>
                <span class="case-title">励志晚安</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(4)">
                <span class="case-type"><img src="../../assets/images/goodnight/type4/img_1.png" alt=""></span>
                <span class="case-title">清新文艺</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(5)">
                <span class="case-type"><img src="../../assets/images/goodnight/type5/img_1.png" alt=""></span>
                <span class="case-title">清新杂志</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(6)">
                <span class="case-type"><img src="../../assets/images/goodnight/type6/img_1.png" alt=""></span>
                <span class="case-title">时尚炫酷</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(7)">
                <span class="case-type"><img src="../../assets/images/goodnight/type7/img_1.png" alt=""></span>
                <span class="case-title">唯美人摄</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(8)">
                <span class="case-type"><img src="../../assets/images/goodnight/type8/img_1.png" alt=""></span>
                <span class="case-title">唯美文艺</span>
            </span>
        </div>
    </div>
</div>