<div class="parent-container bg-color-ececec">
    <div id="morningNight-container">
        <div class="myTailor-title">
            <span class="item" ng-click="changeTab(1)" ng-class="{'active': activeTab == 1}">工作状态</span>
            <span class="item" ng-click="changeTab(2)" ng-class="{'active': activeTab == 2}">活动通知</span>
        </div>
        <div class="myTailor-info-content" ng-if="activeTab == 1" ng-click="add()">
            <!-- <span class="case-item" ng-click="useMornTemplate(1)">
                <span class="case-type"><img src="../../assets/images/notice/type1/img_1.png" alt=""></span>
                <span class="case-title">时尚创意</span>
            </span> -->
            <span class="case-item" ng-click="useMornTemplate(2)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type2/img_1.png" alt=""></span>
                <span class="case-title">复古</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(3)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type3/img_1.png" alt=""></span>
                <span class="case-title">今日有空</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(4)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type4/img_1.png" alt=""></span>
                <span class="case-title">打折通知</span>
            </span>
            <span class="case-item" ng-click="useMornTemplate(5)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type5/img_1.png" alt=""></span>
                <span class="case-title">水彩</span>
            </span>
        </div>


        <div class="myTailor-info-content" ng-if="activeTab == 2">
            <!-- <span class="case-item" ng-click="useNightTemplate(1)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_1.png" alt=""></span>
                <span class="case-title">等候预约</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(2)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_2.png" alt=""></span>
                <span class="case-title">今日有空</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(3)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_3.png" alt=""></span>
                <span class="case-title">等候光临</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(4)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_4.png" alt=""></span>
                <span class="case-title">感谢支持</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(5)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_5.png" alt=""></span>
                <span class="case-title">价格调整</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(6)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_6.png" alt=""></span>
                <span class="case-title">接受预约</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(7)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_7.png" alt=""></span>
                <span class="case-title">今日约满</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(8)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_8.png" alt=""></span>
                <span class="case-title">温馨提示</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(9)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_9.png" alt=""></span>
                <span class="case-title">限时优惠</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(10)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_10.png" alt=""></span>
                <span class="case-title">等待预约</span>
            </span> -->
            <!-- 2017-7-6 -->
            <span class="case-item" ng-click="useNightTemplate(11)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_11.png" alt=""></span>
                <span class="case-title">毕业折扣</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(12)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_12.png" alt=""></span>
                <span class="case-title">定制时尚</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(13)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_13.png" alt=""></span>
                <span class="case-title">发型咨询</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(14)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_14.png" alt=""></span>
                <span class="case-title">该换发型</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(15)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_15.png" alt=""></span>
                <span class="case-title">全新造型</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(16)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_16.png" alt=""></span>
                <span class="case-title">时尚态度</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(17)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_17.png" alt=""></span>
                <span class="case-title">暑假活动</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(18)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_18.png" alt=""></span>
                <span class="case-title">夏日换型</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(19)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_19.png" alt=""></span>
                <span class="case-title">预约折扣</span>
            </span>
            <span class="case-item" ng-click="useNightTemplate(20)">
                <span class="case-type"><img src="../../assets/images/notice/sample/type6/img_20.png" alt=""></span>
                <span class="case-title">折腾青春</span>
            </span>
        </div>
    </div>
</div>