<div class="parent-container bg-color-ececec">
    <!-- <div class="title-bar">
        <span>我的</span>
    </div> -->
    <div id="personal-container">
        <div class="user-info">
            <span class="item">
                <span class="head-img"><img ng-src="{{user.avatar}}"></span>
                <span class="account-text" ng-bind="user.name"></span>
            </span>
            <span class="item">
                <span class="change-userinfo" ng-click="editInformation()">编辑个人信息</span>
                <img src="../../assets/images/personal_right.png" class="arrow-icon">
            </span>
            <span class="prompt-message" ng-if="!user.iscomplete">未完善！</span>
            <span class="prompt-message" ng-if="user.iscomplete">已完善</span>
        </div>
        <a href="">
            <div class="nav-item margin-top-10" ng-click="personalTailor()">
                <div class="left-content">
                    <img src="../../assets/images/personal_1.png" class="common-icon">
                    <span class="item-name">私人订制</span>
                    <span class="bz-message">(只为自己代言)</span>
                </div>
                <img src="../../assets/images/personal_right_2.png" class="arrow-icon margin-right-0">
            </div>
        </a>
        <a href="">
            <div class="nav-item" ng-click="goVipCenter()">
                <div class="left-content">
                    <img src="../../assets/images/personal_5.png" class="common-icon">
                    <span class="item-name">会员中心</span>
                    <span class="bz-message" ng-if="user.vip.posflag != 0">(有效期至:<span ng-bind="user.vipendtime"></span>)</span>
                </div>
                <img src="../../assets/images/personal_right_2.png" class="arrow-icon margin-right-0">
            </div>
        </a>
        <a href="">
            <div class="nav-item margin-top-10" ng-click="goWorks()">
                <div class="left-content">
                    <img src="../../assets/images/personal_2.png" class="common-icon">
                    <span class="item-name">我的作品</span>
                </div>
                <img src="../../assets/images/personal_right_2.png" class="arrow-icon margin-right-0">
            </div>
        </a>
        <a href="">
            <div class="nav-item" ng-click="goWorkHours()">
                <div class="left-content">
                    <img src="../../assets/images/personal_3.png" class="common-icon">
                    <span class="item-name">工作时间</span>
                </div>
                <img src="../../assets/images/personal_right_2.png" class="arrow-icon margin-right-0">
            </div>
        </a>
        <a href="">
            <div class="nav-item">
                <div class="left-content">
                    <img src="../../assets/images/personal_4.png" class="common-icon">
                    <span class="item-name">已绑定手机 (<span ng-bind="user.telephone"></span>)</span>
                </div>
            </div>
        </a>
    </div>
</div>