<div class="parent-container bg-color-fff">
    <div id="personalTailor-container">
        <img src="../../assets/images/personalTailor_1.png" alt="" class="tailor-img">
        <div class="tailor-info">
            <span>私人定制介绍，包装艺人，写一篇专属文章合作媒体进行特别报道</span>
            <div class="case-title">定制案例</div>
            <div class="nav-item margin-top-10" ng-click="personalTailor()">
                <div class="left-content" ng-click="showCustomize()">
                    <img ng-src="{{customizeInfo.customizeimgurl}}" class="case-img">
                    <span>
                        <span class="designer-name" ng-bind="customizeInfo.customizename">LUCY</span>
                        <span ng-bind="customizeInfo.customizetitle">悦艺术家签约造型师</span>
                    </span>
                </div>
            </div>
            <div class="media">合作媒体</div>
            <div class="media-item">
                <img src="../../assets/images/media_1.png" alt="">
                <img src="../../assets/images/media_2.png" alt="">
            </div>
        </div>
        <div class="bottom-btn" ng-click="tailorData()" ng-if="customizeInfo.status == 0">
            <span>开启专属定制</span>
        </div>

        <div class="prompt-fixed" ng-if="customizeInfo.status == 1">
            <div class="prompt-div">
                <div class="prompt-content">
                    <div class="prompt-title">
                        <span>您有定制订单未付款，是否前往完成支付？</span>
                    </div>
                    <div class="prompt-bottom">
                        <span class="item prompt-false" ng-click="promptFalse()">下次吧</span>
                        <span class="item prompt-true" ng-click="promptTrue()">去支付</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="myArticle-btn" ng-if="customizeInfo.status != 0">
            <div class="myArticle-btn-container" ng-click="toMyTailor()">
                <span>我的文章</span>
                <img src="../../assets/images/personal_right.png" class="arrow-icon margin-right-0 fr">
            </div>
        </div>
    </div>
</div>