<div class="parent-container bg-color-fff">
    <div id="usejoke-container">
        <!-- <div class="usejoke-img-content">
            <img ng-src="{{showImg}}" alt="" class="templateImg">
        </div> -->
        <div class="hideImg">
            <img id="starImg" ng-src="{{showImg}}" />
        </div>
        <canvas id="main" ng-show="showcanvas"></canvas>
        <div class="usejoke-img-content" ng-if="!showcanvas">
            <img ng-src="{{canvasImg}}" alt="" class="templateImg">
        </div>
        <div class="iscompelete" ng-if="!user.iscomplete">
            <span>个人信息处于未完善状态，部分模板生成会导致信息缺失，</span>
            <span>请先去<span class="userinfo" ng-click="editInformation($event)">我的</span>完善信息</span>
            <img src="../../assets/images/close.png" alt="" class="closeImg" ng-click="closeText($event)">
        </div>
        <!-- <div class="changeText">
            <img src="../../assets/images/poster-edit-icon.png" alt="" ng-click="changeImg($event)">
        </div> -->
        <div class="bottom-btn">
            <div class="btn-relative" ng-if="fastuse">
                <img src="../../assets/images/left_row.png" alt="" class="left-back" ng-click="goBack($event)">
                <span ng-click="chengeText()">立即使用</span>
            </div>
            <div class="btn-relative" ng-if="!fastuse">
                <img src="../../assets/images/left_row.png" alt="" class="left-back" ng-click="goBack($event)">
                <span ng-click="useTemplatePage($event)" ng-bind="btnText"></span>
            </div>
        </div>
        <div class="loading-content" ng-if="loading">
            <img src="../../assets/images/loading.gif" alt="">
        </div>
        <div class="name-input-fixed">
            <div class="name-input-content">
                <span>请输入昵称(最多可添加四个字)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="name" maxlength="4"></span>
                <span>请输入开始时间(例：13：00)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startTime" maxlength="5"></span>
                <span>请输入结束时间(例：18：00)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="endTime" maxlength="5"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-1">
            <div class="name-input-content">
                <span>请输入昵称(最多可添加3个字)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="name" maxlength="3"></span>
                <span>请输入开始时间-小时(例：13)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startHour" maxlength="2"></span>
                <span>请输入开始时间-分钟(例：00)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startMinute" maxlength="2"></span>
                <span>请输入结束时间-小时(例：18)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="endHour" maxlength="2"></span>
                <span>请输入结束时间-分钟(例：00)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="endMinute" maxlength="2"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-2">
            <div class="name-input-content">
                <span>请输入开始时间-小时(例：13)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startHour" maxlength="2"></span>
                <span>请输入开始时间-分钟(例：00)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startMinute" maxlength="2"></span>
                <span>请输入结束时间-小时(例：18)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="endHour" maxlength="2"></span>
                <span>请输入结束时间-分钟(例：00)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="endMinute" maxlength="2"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-3">
            <div class="name-input-content">
                <span>请输入昵称(最多可添加4个字)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="name" maxlength="4"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-4">
            <div class="name-input-content">
                <span>请输入开始时间-月份(例：02)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startMonth" maxlength="2"></span>
                <span>请输入开始时间-日期(例：09)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startDate" maxlength="2"></span>
                <span>请输入结束时间-月份(例：03)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="endMonth" maxlength="2"></span>
                <span>请输入结束时间-日期(例：15)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="endDate" maxlength="2"></span>
                <span>剪发上调价格(例：20)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="colorPrice" maxlength="3"></span>
                <span>烫染上调价格(例：20)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="permPrice" maxlength="3"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-5">
            <div class="name-input-content">
                <span>请输入昵称(最多可添加4个字)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="name" maxlength="4"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-7">
            <div class="name-input-content">
                <span>请输入天数(例：2)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="day" maxlength="2"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-8">
            <div class="name-input-content">
                <span>请输入剪发折扣(例：2)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="colorPrice" maxlength="1"></span>
                <span>请输入烫染折扣(例：2)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="permPrice" maxlength="1"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        <div class="name-input-fixed-9">
            <div class="name-input-content">
                <span>请输入昵称(最多可添加4个字)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="name" maxlength="4"></span>
                <span>请输入预约时间(例：20)</span>
                <span><input type="text" placeholder="用于主页和生成海报" ng-model="startDate" maxlength="1"></span>
                <span class="name-input-btn" ng-click="updateText()">确 认</span>
            </div>
        </div>
        
    </div>
</div>