<div class="parent-container bg-color-000">
    <div id="vipCenter-container">
        <span class="vip-bg"><img src="../../assets/images/vip_canter_bg.png" alt=""></span>
        <div class="confirm-buy-vip" ng-click="showMenu()">
            <span>开通VIP会员</span>
        </div>
        <div class="up-muenu">
            <div class="up-muenu-content">
                <div class="up-muenu-info">
                    <div class="nav-item">
                        <div class="left-content">
                            <span class="item-name">开通VIP会员</span>
                        </div>
                        <img src="../../assets/images/vip_center_close.png" class="vip-close-icon" ng-click="hideMenu()">
                    </div>
                    <div class="nav-item">
                        <div class="left-content">
                            <span><img src="../../assets/images/vip_select.png" class="vip-select-icon"></span>
                            <span class="current-price">29元/月</span>
                            <span class="current-price-day">(0.96元/天)</span>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="left-content">
                            <span><img src="../../assets/images/vip_select.png" class="vip-select-icon"></span>
                            <span class="current-price">73元/季度</span>
                            <span class="current-price-day">(0.81元/天)</span>
                            <span class="discount">8.5折</span>
                            <span class="original-price">原价87元</span>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="left-content">
                            <span><img src="../../assets/images/vip_select.png" class="vip-select-icon"></span>
                            <span class="current-price">257元/年</span>
                            <span class="current-price-day">(0.7元/天)</span>
                            <span class="discount">7.4折</span>
                            <span class="original-price">原价348元</span>
                        </div>
                    </div>
                    <div class="pay-vip-btn">
                        <span>确认支付</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>