<div class="parent-container bg-color-000">
    <div id="vipCenter-container">
        <span class="vip-bg"><img src="../../assets/images/vip_canter_bg.png" alt=""></span>
        <div class="confirm-buy-vip" ng-click="showMenu()">
            <span>开通VIP会员</span>
        </div>
        <div class="up-muenu">
            <div class="up-muenu-content">
                <div class="up-muenu-info">
                    <div class="nav-item">
                        <div class="left-content">
                            <span class="item-name">开通VIP会员</span>
                        </div>
                        <img src="../../assets/images/vip_center_close.png" class="vip-close-icon" ng-click="hideMenu()">
                    </div>
                    <div class="nav-item" ng-repeat="vip in vipList">
                        <div class="left-content" ng-click="selectVip(vip)">
                            <span>
                                <img src="../../assets/images/vip_select.png" class="vip-select-icon" ng-if="!vip.selected" >
                                <img src="../../assets/images/vip_selected.png" class="vip-select-icon" ng-if="vip.selected" >
                            </span>
                            <span class="current-price"><span ng-bind="vip.currentprice"></span>元/<span ng-bind="vip.name"></span></span>
                            <span class="current-price-day">(<span ng-bind="vip.perdayprice"></span>元/天)</span>
                            <span class="discount"><span ng-bind="vip.discount"></span>折</span>
                            <span class="original-price">原价<span ng-bind="vip.originalprice"></span>元</span>
                        </div>
                    </div>
                    <div class="pay-vip-btn" ng-click="buyVip()">
                        <span>确认支付</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>