<div class="parent-container bg-color-000">
    <div id="vipCenter-container">
        <span class="vip-bg"><img src="../../assets/images/vip_canter_bg.png" alt=""></span>
        <div class="confirm-buy-vip" ng-click="showMenu()">
            <span>开通VIP会员</span>
        </div>
        <div class="up-muenu">
            <div class="up-muenu-content" ng-click="hideMenu()">
                <div class="up-muenu-info">
                    
                </div>
            </div>
        </div>
    </div>
</div>