<div class="parent-container bg-color-ececec">
    <div id="work-hours-container">
        <div class="select-time-title">选择工作时间段</div>
        <div class="show-time-content">
            <span><input type="text" readonly="readonly" class="starttime" ng-model="starttime" onfocus="this.blur();"></span>
            <span class="color-999">至</span>
            <span><input type="text" readonly="readonly" class="endtime" ng-model="endtime" onfocus="this.blur();"></span>
        </div>
        <div class="select-time-title margin-top-10">
            选择休息日<span>(点击选择要休息的时间)</span>
        </div>
        <div class="week-content">
            <div class="week-item" ng-repeat="week in workdayList" ng-click="selectWeek(week)" ng-class="{'chooseWeek':week.iswork == 0}">
                <span ng-bind="week.name"></span>
            </div>
        </div>
        <div class="save-btn" ng-click="saveInformation()">
            <span>保存</span>
        </div>
    </div>
</div>