@import "display";
#edit-information-container {
	padding-bottom:1.173333rem;
	.edit-title{
		width:100%;
		height:1.76rem;
		background:#fff;
		color:#333;
		font-size:0.32rem;
		padding:0.4rem 0.4rem;
		.flex-between;
		.item{
			.flex-column;
			-moz-justify-content: center;
			-ms-justify-content: center;
			-o-justify-content: center;
			justify-content: center;
			-webkit-justify-content: center;
			.item-name{
				font-size:0.373333rem;
			}
			.item-prompt{
				color:#999;
			}
			.Identification{
				color:#34d1a8;
				margin-right:0.2rem;
			}
		}
	}
	.edit-head-img{
		width:100%;
		height:2.346667rem;
		background:#fff;
		color:#333;
		font-size:0.373333rem;
		padding:0 0.4rem;
		border-bottom:0.013333rem solid #ececec;
		.flex-between;
		.item{
			.flex-column;
			-moz-justify-content: center;
			-ms-justify-content: center;
			-o-justify-content: center;
			justify-content: center;
			-webkit-justify-content: center;
			.item-prompt{
				color:#999;
				font-size:0.32rem;
			}
			img{
				width:1.76rem;
				height:auto;
			}
		}
		.user-avatar{
			margin-top:0.293333rem;
			width:1.76rem;
			height:1.76rem;
			overflow:hidden;
		}
	}
	.nav-item {
		height: 1.173333rem;
		border-bottom: 0.013333rem solid #ececec;
		width: 100%;
		.flex;
		-moz-align-items:center;
		-ms-align-items:center;
		-o-align-items:center;
		align-items:center;
		-webkit-align-items:center;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		background-color: #fff;
		padding: 0 0.4rem;
		.left-content {
			height: 100%;
			.flex;
			-moz-align-items:center;
			-ms-align-items:center;
			-o-align-items:center;
			align-items:center;
			-webkit-align-items:center;
			.item-name {
				color: #333;
				font-size: 0.373333rem;
				min-width:2.293333rem;
				.Identification{
					color:#34d1a8;
				}
			}
			.bz-message{
				color: #999;
				font-size: 0.32rem;
				min-width:1.066667rem;
				input[type=text]{
					border:none;
				}
				.click-input{
					width:1.066667rem;
				}
			}
			.years{
				color:#333;
			}
			.dividing-line{
				margin:0 0.4rem;
				color:#333;
			}
		}
		.margin-right-0{
			margin-right:0 !important;
		}
	}
	.point-label{
		width:100%;
		background:#fff;
		padding:0 0 0.666667rem 0.4rem;
		color:#999;
		font-size:0.32rem;
		.flex;
	    -moz-align-items:center;
	    -ms-align-items:center;
	    -o-align-items:center;
	    align-items:center;
	    -webkit-align-items:center;
	    flex-wrap:wrap;
	    -webkit-flex-wrap:wrap;
	    .item {
	        .flex;
	        -moz-align-items:center;
	        -ms-align-items:center;
	        -o-align-items:center;
	        align-items:center;
	        -webkit-align-items:center;
	        -moz-flex-direction:column;
	        -ms-flex-direction:column;
	        -o-flex-direction:column; 
	        flex-direction:column; 
	        -webkit-flex-direction:column;
	        margin:0.4rem 0.4rem 0 0;
	        width:1.973333rem;
	        height:0.56rem;
	        border:0.013333rem solid #999;
	        border-radius:0.066667rem;
	        line-height:0.56rem;
	       .text {
	       		font-size: 0.32rem;
	        	color: #666;
	        	margin-top:0.2rem;
	       }
	    }
	    .selected-label{
	    	color:#34d1a8;
	    	border:0.013333rem solid #34d1a8;
	    }
	}
	.bottom-btn{
		width:100%;
		height:1.173333rem;
		color:#fff;
		font-size:0.32rem;
		position:fixed;
		left:0;
		bottom:0;
		background:#34d1a8;
		.flex-center;
	}
	.fixed-content{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.33);
		position:fixed;
		left:0;
		top:0;
		display:none;
		.level-content{
			width:100%;
			height:100%;
			.flex;
			.level-div{
				width:5.6rem;
				background:#fff;
				border-radius:0.066667rem;
				font-size:0.32rem;
				color:#666;
				margin:auto auto;
				.nav-item {
					height: 0.32rem;
					width: 100%;
					.flex;
					-moz-align-items:center;
					-ms-align-items:center;
					-o-align-items:center;
					align-items:center;
					-webkit-align-items:center;
					-moz-justify-content: space-between;
					-ms-justify-content: space-between;
					-o-justify-content: space-between;
					justify-content: space-between;
					-webkit-justify-content: space-between;
					background-color: #fff;
					padding: 0.4rem 0 0.4rem 1.68rem;
					margin:0.4rem 0;
					border-bottom:none !important;
					.left-content {
						height: 100%;
						.flex;
						-moz-align-items:center;
						-ms-align-items:center;
						-o-align-items:center;
						align-items:center;
						-webkit-align-items:center;
						.level-select-icon{
							width:0.32rem;
							height:0.32rem;
							margin-right:0.266667rem;
						}
					}
				}
			}
		}
	}
	.prompt-fixed{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.33);
		position:fixed;
		left:0;
		top:0;
		display:none;
		.prompt-div{
			width:100%;
			height:100%;
			.flex;
			.prompt-content{
				width:8.0rem;
				height:3.52rem;
				background:#fff;
				border-radius:0.066667rem;
				margin:auto auto;
				font-size:0.373333rem;
				color:#333;
				.prompt-title{
					width:100%;
					height:2.333333rem;
					.flex-center;
				}
				.prompt-bottom{
					width:100%;
					height:1.173333rem;
					border-top:0.013333rem solid #ececec;
					.flex;
					-moz-align-items:center;
					-ms-align-items:center;
					-o-align-items:center;
					align-items:center;
					-webkit-align-items:center;
					padding:0.293333rem 0;
					.item {
						-moz-box-flex: 1;        
						-ms-flex: 1; 
						-webkit-box-flex: 1 ;           
						flex: 1;
						-webkit-flex: 1;
						.flex-center;
						border-right: 0.026667rem solid #ececec;
						&:last-child {
							border-right: none !important;
						}
					}
					.prompt-false{
						color:#999;
					}
					.prompt-true{
						color:#34d1a8;
					}
				}
			}
		}
	}
}
