@import "display";
#vipCenter-container {
	.vip-bg{
		img{
			width:100%;
			height:92.8vh;
		}
	}
	.confirm-buy-vip{
		width:100%;
		height:1.173333rem;
		color:#fff;
		font-size:0.373333rem;
		background:#c0a97a;
		position:fixed;
		left:0;
		bottom:0;
		.flex-column-center;
	}
	.up-muenu{
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:100vh;
		background:rgba(0,0,0,0.33);
		display:none;
		.up-muenu-content{
			width:100%;
			height:100vh;
			position:relative;
			.up-muenu-info{
				width:100%;
				background:#fff;
				position:absolute;
				left:0;
				bottom:0;
				.nav-item {
					height: 1.173333rem;
					border-bottom: 0.013333rem solid #ececec;
					width: 100%;
					.flex;
					-moz-align-items:center;
					-ms-align-items:center;
					-o-align-items:center;
					align-items:center;
					-webkit-align-items:center;
					-moz-justify-content: space-between;
					-ms-justify-content: space-between;
					-o-justify-content: space-between;
					justify-content: space-between;
					-webkit-justify-content: space-between;
					background-color: #fff;
					padding: 0 0.4rem;
					.left-content {
						height: 100%;
						.flex;
						-moz-align-items:center;
						-ms-align-items:center;
						-o-align-items:center;
						align-items:center;
						-webkit-align-items:center;
						.item-name {
							color: #333;
							font-size: 0.373333rem;
						}
						.vip-select-icon{
							width:0.373333rem;
							height:0.373333rem;
							margin:0 0.4rem;
						}
						.current-price{
							font-size:0.373333rem;
							color:#c0a97a;
							font-weight:bold;
							min-width:2.0rem;
							margin-top:0.133333rem;
						}
						.current-price-day{
							font-size:0.373333rem;
							color:#c0a97a;
							min-width:2.533333rem;
							margin-top:0.133333rem;
						}
						.discount{
							font-size:0.266667rem;
							color:#666;
							min-width:0.906667rem;
							margin-top:0.133333rem;
						}
						.original-price{
							font-size:0.266667rem;
							color:#999;
							text-decoration: line-through;
							margin-top:0.133333rem;
						}
					}
					.vip-close-icon{
						width:0.573333rem;
						height:0.56rem;
						padding:0.133333rem;
					}
				}
				.pay-vip-btn{
					width:66.666%;
					height:1.173333rem;
					font-size:0.373333rem;
					color:#fff;
					background:#c0a97a;
					border-radius:0.066667rem;
					margin:0.4rem auto;
					.flex-center;
				}
			}
		}
	}
}
